/* Reset Style */
* {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

/* Common Style */
.container {
    max-width: 1200px;
    margin: auto;
}

.common-btn {
    background-color: blue;
    padding: 10px 30px;
    border-radius: 12px;
    font-size: 17px;
    color: white;
    border: none;
    cursor: pointer;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Section */
.header-section {
    display: flex;
}
.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center; 

    min-height: 80px;
    padding: 0 20px;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-text {
    line-height: 1.05;
}

.nav-menu {
    display: flex;
    gap: 15px;
}

.nav-menu li a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
}

/* Hero Section */
.hero-section {
    padding: 140px 20px;
}
.hero-section {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)) ,url('./assets/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    min-height: 500px;
}

.hero-content {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    color: white;
}
.hero-title {
    font-size: 58px;
    margin-bottom: 18px;
}
.hero-highlight {
    font-style: italic;
}

.hero-text {
    max-width: 700px;
    margin-bottom: 400px;
    font-size: 20px;
}

.hero-btn {
    padding: 14px 60px;
    font-size: 24px;
}

